<ion-content [fullscreen]="true" id="pageContent">
  <div class="login-bg">
    <div class="login-container">
      <ion-card class="login-card">
        <ion-card-header>
          <ion-card-title class="login-title">Registro</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input
              [(ngModel)]="usuario"
              label="Usuario"
              labelPlacement="floating"
              placeholder="Ingresa tu usuario"
            ></ion-input>
          </ion-item>
          <hr />
          <ion-item>
            <ion-input
              [(ngModel)]="nombre"
              label="Nombre"
              labelPlacement="floating"
              placeholder="Ingresa tu nombre"
            ></ion-input>
          </ion-item>
          <hr />
          <ion-item>
            <ion-input
              [(ngModel)]="apellidos"
              label="Apellidos"
              labelPlacement="floating"
              placeholder="Ingresa tus apellidos"
            ></ion-input>
          </ion-item>
          <hr />
          <ion-item>
            <ion-input
              [(ngModel)]="correo"
              label="Correo"
              labelPlacement="floating"
              placeholder="Ingresa tu correo"
            ></ion-input>
          </ion-item>
          <hr />
          <ion-item>
            <ion-input
              [(ngModel)]="contrasena"
              type="password"
              labelPlacement="floating"
              label="Contraseña"
              placeholder="Ingresa tu contraseña"
            >
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-item>
          <div *ngIf="mensajeError" class="mensaje-error">
            {{ mensajeError }}
          </div>
          <ion-button (click)="registrarse()" expand="block" color="primary" class="ion-margin-top">
            Registrarse
          </ion-button>
          <div class="registro-texto">
            <ion-text color="dark">
              <h3>¿Ya tienes cuenta?</h3>
            </ion-text>
            <a (click)="irALogin()" class="enlace-login">Iniciar sesión</a>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>