<ion-content class="ion-padding">
  <div class="login-bg">
    <div class="login-container">
      <div class="login-card text-center">
        <ion-icon name="flash-outline" class="icon-flash"></ion-icon>
        <h1 class="login-title">FitPlan</h1>
        <p class="subtitle">Disfruta de nuestra app en tu móvil</p>
        
        <div class="qr-card">
          <div class="qr-inner">
            <img src="/assets/img/qr-placeholder.png" alt="QR de descarga de FitPlan" />
          </div>
        </div>
        
        <p class="note">Escanea el código QR para descargar la APK.</p>
        
        <ion-button 
          class="btn-iniciar" 
          expand="block" 
          href="https://drive.google.com/file/d/1KVPqKjl0vGGRzaWdyZKTUB_oq1MitoN_/view?usp=drive_link" 
          target="_blank">
          Descargar APK
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
