<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Actualiza tu Contraseña</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item class="ion-margin-bottom">
        <ion-input
          type="text"
          label="Contraseña Actual"
          labelPlacement="floating"
          [(ngModel)]="contrasenaActual"
          (ionInput)="mensajeError = ''"
        ></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-input
          type="text"
          label="Nueva Contraseña"
          labelPlacement="floating"
          [(ngModel)]="nuevaContrasena"
          (ionInput)="mensajeError = ''"
        ></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-input
          type="text"
          label="Confirmar Contraseña"
          labelPlacement="floating"
          [(ngModel)]="confirmarContrasena"
          (ionInput)="mensajeError = ''"
        ></ion-input>
      </ion-item>

      <!-- Mensaje de Error Único (como en Registro) -->
      <div *ngIf="mensajeError" class="mensaje-error ion-padding-horizontal">
        {{ mensajeError }}
      </div>

      <ion-button
        expand="block"
        class="ion-margin-top"
        (click)="cambiarContrasena()"
      >
        Actualizar Contraseña
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
