.form-rutina-list {
  max-width: 800px;
  margin: 0 auto;
}

.seleccionados-list {
  margin-top: 12px;
}

.ejercicios-wrapper {
  margin-top: 10px;
}

.paginacion-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.boton-guardar {
  margin-top: 18px;
}
