<ion-content [fullscreen]="true" id="pageContent">
  <div class="home-titulo">
    <ion-text color="dark">
      <h1 style="margin: 0;">Bienvenido/a, {{usuario}}</h1>
    </ion-text>
    <ion-icon name="create-outline" slot ="icon-only" (click)="navegarCambiarContrasena()"></ion-icon>
    <ion-button fill="clear" (click)="cerrarSesion()" class="cerrar-sesion-btn">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </div>
  <div class="home-cards">
    <ion-card>
      <div class="card-content-flex">
        <ion-icon name="list-outline" ></ion-icon>
        <span class="card-title">Mis Rutinas</span>
      </div>
    </ion-card>

    <ion-card>
      <div class="card-content-flex">
        <ion-icon name="calendar-outline" ></ion-icon>
        <span class="card-title">Calendario</span>
      </div>
    </ion-card>

    <ion-card>
      <div class="card-content-flex">
        <ion-icon name="person-circle-outline" ></ion-icon>
        <span class="card-title">Perfil</span>
      </div>
    </ion-card>
  </div>

  <ion-list>
    <ion-item>
      <ion-icon name="barbell-outline" slot="start"></ion-icon>
      <ion-label>Rutina 1: Fuerza</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="fitness-outline" slot="start"></ion-icon>
      <ion-label>Rutina 2: Cardio</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="nutrition-outline" slot="start"></ion-icon>
      <ion-label>Rutina 3: Nutrición</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="walk-outline" slot="start"></ion-icon>
      <ion-label>Rutina 4: Caminata</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
