<ion-content [fullscreen]="true" id="pageContent">
  <div class="home-titulo">
    <ion-text color="dark">
      <h1 style="margin: 0;">Bienvenido/a, {{usuario}}</h1>
    </ion-text>
    <ion-icon name="create-outline" slot ="icon-only" (click)="navegarCambiarContrasena()"></ion-icon>
    <ion-button fill="clear" (click)="cerrarSesion()" class="cerrar-sesion-btn">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </div>
  <div class="home-cards">
    <ion-card>
      <div class="card-content-flex">
        <ion-icon name="list-outline" ></ion-icon>
        <span class="card-title">Mis Rutinas</span>
      </div>
    </ion-card>

    <ion-card>
      <div class="card-content-flex">
        <ion-icon name="calendar-outline" ></ion-icon>
        <span class="card-title">Calendario</span>
      </div>
    </ion-card>

    <ion-card>
      <div class="card-content-flex">
        <ion-icon name="person-circle-outline" ></ion-icon>
        <span class="card-title">Perfil</span>
      </div>
    </ion-card>
  </div>

  <ion-list>
    <ion-item *ngFor="let x of lista_ejercicios; let i = index" (click)="verDescripcion(x)">
      <ion-icon name="barbell-outline" slot="start"></ion-icon>
      <ion-label>
        <div class="ej-id">Ejercicio N° {{i + 1}}</div>
        <h2 class="ej-nombre">{{x.nombre}}</h2>
        <p class="ej-descripcion" [innerHTML]="x.descripcion"></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
